{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis and Representation</title>

    <!-- External CSS for additional styling -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // WebSocket setup
            const url = `ws://${window.location.host}/ws/socket-server/`;
            const dataSocket = new WebSocket(url);

            const avg_chart_config = {
                type: 'line',

                data: {
                    //labels: ["Label1", "Label2"],
                    labels: ["Date"],
                    datasets: [{
                        data: [],
                        label: "Average Data",
                        backgroundColor: "#3e95cd",
                        tension: 0,

                    },]
                },
                options: {
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                }
            }

            const a0_config = {
                type: 'line',

                data: {
                    //labels: ["Label1", "Label2"],
                    labels: ["Date"],
                    datasets: [{
                        data: [],
                        label: "St Thomas",
                        backgroundColor: "#3e95ed",
                        tension: 0,

                    },]
                },
                options: {
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            const a1_config = {
                type: 'line',

                data: {
                    //labels: ["Label1", "Label2"],
                    labels: ["Date"],
                    datasets: [{
                        data: [],
                        label: "St Mary",
                        backgroundColor: "#3e95ed",
                        tension: 0,

                    },]
                },
                options: {
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            const a2_config = {
                type: 'line',

                data: {
                    //labels: ["Label1", "Label2"],
                    labels: ["Date"],
                    datasets: [{
                        data: [],
                        label: "Portland",
                        backgroundColor: "#3e95ed",
                        tension: 0,

                    },]
                },
                options: {
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };
            const ctxOne = document.getElementById('A0_chart').getContext('2d');
            const ctxTwo = document.getElementById('A1_chart').getContext('2d');
            const ctxThree = document.getElementById('A2_chart').getContext('2d');
            const ctx = document.getElementById('acquisitions').getContext('2d');
            const avgChart = new Chart(ctx, avg_chart_config);
            const a0Chart = new Chart(ctxOne, a0_config);
            const a1Chart = new Chart(ctxTwo, a1_config);
            const a2Chart = new Chart(ctxThree, a2_config);
            //var a0Chart = new Chart(ctxTwo,)
            //var a0Chart = new Chart(ctxThree,)

            dataSocket.addEventListener('message', function (e) {
                const graphData = JSON.parse(e.data);
                console.log(graphData);
                a0Chart.data.labels.push(graphData.label)
                a1Chart.data.labels.push(graphData.label)
                a2Chart.data.labels.push(graphData.label)
                avgChart.data.labels.push(graphData.label);

                avgChart.data.datasets[0].data.push(graphData['AA']);
                a0Chart.data.datasets[0].data.push(graphData['A0']);
                a1Chart.data.datasets[0].data.push(graphData['A1']);
                a2Chart.data.datasets[0].data.push(graphData['A2']);
                const maxDataPoints = 100;
                if (avgChart.data.labels.length > maxDataPoints) {
                    avgChart.data.labels.shift();
                    avgChart.data.datasets[0].data.shift();
                }
                avgChart.update();
                a0Chart.update();
                a1Chart.update();
                a2Chart.update();
            });
        });
    </script>
</head>
<body>
<header>
    {% include 'sms/navigation/header_navigation_bar.html' %}
    {% include 'sms/navigation/sidebar.html' %}
</header>
<div class="container">
    <main>
        <section>
            <div style="margin:100px;width: 1500px;">
                <h2>Overall Average Reading</h2>
                <canvas width="900" height="400" aria-label="Chart" role="img" id="acquisitions"></canvas>
            </div>
        </section>

        <section>
            <h2>St Thomas Soil Moisture Live</h2>

            <div style="margin:100px;width: 1500px;">
                <canvas width="900" height="400" aria-label="Chart" role="img" id="A0_chart"></canvas>
            </div>
        </section>

        <section>
            <h2>St Mary Soil Moisture Live</h2>

            <div style="margin:100px;width: 1500px;">
                <canvas width="900" height="400" aria-label="Chart" role="img" id="A1_chart"></canvas>
            </div>
        </section>
        <section>
            <h2>Portland Soil Moisture Live</h2>

            <div style="margin:100px;width: 1500px;">
                <canvas width="900" height="400" aria-label="Chart" role="img" id="A2_chart"></canvas>
            </div>
        </section>


        <br>

        <section>
            <h2>Live Data Analysis2</h2>

            <p>Explore the live data analysis presented in the interactive chart above.</p>
            <p>Data is updated every 5 seconds to provide real-time insights.</p>
        </section>
    </main>
</div>
</body>
</html>
