{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis and Representation</title>

    <!-- External CSS for additional styling -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            // WebSocket setup
            const url = `ws://${window.location.host}/ws/socket-server/`;
            const dataSocket = new WebSocket(url);

            // Chart configuration
            const avgChartConfig = {
                type: 'line',
                data: {
                    labels: [],  // Array to store date-time labels
                    datasets: [{
                        data: [],  // Array to store average data for A0
                        label: "Average Data",
                        backgroundColor: "#3e95cd",
                        tension: 0,
                        fill: true,
                    }]
                },
                options: {
                    legend: {
                        display: true,
                        position: "bottom",
                        labels: {
                            fontColor: 'rgb(0, 0, 0)'
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            // Initialize the chart
            const ctx = document.getElementById('acquisitions').getContext('2d');
            const avgChart = new Chart(ctx, avgChartConfig);

            // WebSocket event listener
            dataSocket.addEventListener('message', function (e) {
                const graphData = JSON.parse(e.data);
                console.log(graphData);

                // Update labels and data arrays
                avgChart.data.labels.push(graphData.label);
                avgChart.data.datasets[0].data.push(graphData.avg_sensor_data);


                // Maintain a maximum number of data points
                const maxDataPoints = 100;
                if (avgChart.data.labels.length > maxDataPoints) {
                    avgChart.data.labels.shift();
                    avgChart.data.datasets[0].data.shift();
                    avgChart.data.datasets[1].data.shift();
                    avgChart.data.datasets[2].data.shift();
                }

                avgChart.update();
            });
        });
    </script>

</head>
<body>
<header>
    {% include 'sms/navigation/header_navigation_bar.html' %}
    {% include 'sms/navigation/sidebar.html' %}
</header>
<div class="container">

    <section>
        <div style="margin:100px;width: 1500px;">
            <h2>Overall Average Reading Across All Regions</h2>
            <canvas width="900" height="400" aria-label="Chart" role="img" id="acquisitions"></canvas>
        </div>
    </section>

    <section>
        <form id="chartForm">
            {% csrf_token %}
            <label>Start Date</label>
            <input type="date">
            <label>End Date</label>
            <input type="date">
            <button type="submit">Submit</button>
        </form>

    </section>


</div>
</body>
</html>

