{% load static %}
{% load geojson_tags %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/map/map.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-sidebar-v2@0.2.0/dist/leaflet-sidebar.min.css"/>
    <script src="https://unpkg.com/leaflet-sidebar-v2@0.2.0/dist/leaflet-sidebar.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-button@0.2.0/dist/leaflet.button.css"/>
    <script src="https://unpkg.com/leaflet-button@0.2.0/dist/leaflet.button.js"></script>

    {% include 'sms/navigation/header_navigation_bar.html' %}
    {% include 'sms/navigation/sidebar.html' %}
    <script>
        function init() {
            function main_map_init(map, options) {
                map.setView([18.1096, -77.2975], 10);
                var spatialExtent = L.latLngBounds([17.7012, -78.3666], [18.5242, -76.199]);


                map.setMaxBounds(spatialExtent);

                L.tileLayer('http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                }).addTo(map);
                var minimap = new L.Control.MiniMap(
                    L.tileLayer('http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
                        maxZoom: 14,

                    }), {
                        toggleDisplay: true,
                        minimized: false
                    }
                ).addTo(map);

                var geocoder = L.Control.geocoder({
                    defaultMarkGeocode: false
                }).on('markgeocode', function (e) {
                    var bbox = e.geocode.bbox;
                    var poly = L.polygon([
                        bbox.getSouthEast(),
                        bbox.getNorthEast(),
                        bbox.getNorthWest(),
                        bbox.getSouthWest()
                    ]).addTo(map);

                    poly.on('click', function () {
                        map.removeLayer(poly);
                    });

                    map.fitBounds(poly.getBounds());
                })
                    .addTo(map);

                var dataurl = '{% url "sensor_dataset" %}';
                $.getJSON(dataurl, function (data) {
                    let url = `ws://${window.location.host}/ws/map-data-socket/`
                    const dataSocket = new WebSocket(url)

                    dataSocket.onmessage = function (e) {
                        let webSocketData = JSON.parse(e.data);

                        var markersLayer = L.geoJSON(data, {
                            pointToLayer: function (feature, latlng) {
                                var avg_sensor_data = webSocketData['avg_sensor_data'];
                                var sensor_group_name = webSocketData['sensor_group_name'];
                                var state = "Saturated";
                                if (avg_sensor_data < .4){
                                    state = "Dry";
                                }
                                var marker = new L.Marker(latlng)
                                     .bindPopup('<h5><b> Sensor Group: ' + sensor_group_name + '</b></h5>' +
                                        '<p>Average Moisture Level: ' + avg_sensor_data.toFixed(3)+'</p>'+
                                        '<p> Soil condition: ' +  state );
                                return marker;
                            },
                            onEachFeature: function (feature, layer) {
                                layer.on('mouseover', function (e) {
                                    layer.openPopup();
                                });
                                layer.on('mouseout', function (e) {
                                    layer.closePopup();
                                });
                            }
                        }).addTo(map);

                        var circlesLayer = L.geoJSON(data, {
                            pointToLayer: function (feature, latlng) {
                                var avg_sensor_data = webSocketData['avg_sensor_data'];
                                var sensor_group_name = webSocketData['sensor_group_name'];
                                var state = "Saturated";
                                if (avg_sensor_data < .4){
                                    state = "Dry";
                                }
                                var circle = new L.Circle(latlng, {radius: 900})
                                    .bindPopup('<h5><b> Sensor Group: ' + sensor_group_name + '</b></h5>' +
                                        '<p>Average Moisture Level: ' + avg_sensor_data.toFixed(3)+'</p>'+
                                        '<p> Soil condition: ' +  state );

                                circle.on('click', function (e) {
                                    openModal(feature.properties.sensor_group_name, sensor_data);
                                })
                                return circle;
                            },
                            onEachFeature: function (feature, layer) {
                                // Add a hover function to display data when hovered
                                layer.on('mouseover', function (e) {
                                    layer.openPopup();
                                });
                                layer.on('mouseout', function (e) {
                                    layer.closePopup();
                                });
                            }
                        }).addTo(map);
                    }

                });
                var sidebar = L.control.sidebar('sidebar', {
                    position: 'left'
                });

                map.addControl(sidebar);
            }

            var mainMap = L.map('main_map');
            main_map_init(mainMap, {
                minimap: true,
                resetView: true
            });
        }
    </script>


</head>
<body onload="init()">

<div id="main_map" style="height: 900px;"></div>

</body>
</html>
