{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Experiment Setup</title>
</head>
<body>
    <header>
        {% include 'sms/navi.html' %}
    </header>
    <br>
    <section>
        <h1>Cloud Platform</h1>
        <img src=" /media/images/system design/Cloud_Platform.jpg" alt="Cloud Platform">

        <h1>Practical System Design</h1>
         <img src=" /media/images/system design/Practical_System_Design.png" alt="Practical System_Design">

        <h1>System Design</h1>
         <img src=" /media/images/system design/System_Design.png" alt="System_Design">

    </section>
</body>
</html>
