{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        type = "text/javascript"
        let url = `ws://${window.location.host}/ws/socket-server/`
        const dataSocket = new WebSocket(url)

        dataSocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
        }
    </script>
</head>
<body>
{% include 'sms/navigation/sidebar.html' %}
<div class="overall_container">
    <main>
        <div class="container">
            <section>
                <h1>Welcome to the Soil Moisture Monitoring System</h1>
                <br>
                <p>Change</p>
                <p>Change</p>
                <p>Change</p>
            </section>

            <br>
            <section>
                <h2>Experiment Setup</h2>
                <p>Change</p>
            </section>
        </div>

    </main>
</div>


<script></script>
</body>
</html>
