{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
{% include 'sms/navigation/header_navigation_bar.html' %}
{% include 'sms/navigation/sidebar.html' %}
<div class="overall_container">
    <main>
        <div class="container">
            <section>
                <h1>Welcome to the Soil Moisture Monitoring System</h1>
                <br>
                <h2>Field Sense</h2>
                <p>Water scarcity affects billions globally, with Jamaica facing severe droughts impacting agriculture.</p>
                <br>
                <p>We seek to reduce this by giving you real time data on current conditions </p>
            </section>

        </div>

    </main>
</div>


<script></script>
</body>
</html>
