{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>

 <ul>
    {% if user.is_authenticated %}
        <!-- If authenticated, show link to user's profile -->
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'setup' %}">Experiment Setup</a></li>
        <li><a href="{% url 'charts' %}">Data Analysis and Representation</a></li>
        <li class="logout-btn"><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <!-- If not authenticated, show link to the default home (index) -->
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'setup' %}">Experiment Setup</a></li>
        <li><a href="{% url 'charts' %}">Data Analysis and Representation</a></li>
        <li class="login-btn"><a href="{% url 'login' %}">Login</a></li>
        <li class="signup-btn"><a href="{% url 'signup' %}">Signup</a> </li>
    {% endif %}
</ul>

</body>
</html>
