{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Soil Moisture Monitoring System</title>

</head>
<body>
<header>
    {% include 'sms/navi.html' %}
</header>

<main>
    <section>
        <h1>Welcome to the Soil Moisture Monitoring System</h1>
        <p>Explore our study on soil moisture content using advanced technology and precise methodologies. Discover the insights we've gathered across various soil types.</p>
    </section>

    <section>
        <h2>Experiment Setup</h2>
        <p>Learn about the materials used, sensor connections, and controlled irrigation simulations in our study.</p>
        <!-- Add more sections and content as needed -->
    </section>

    <section>
        <h2>Data Analysis and Representation</h2>

        <p>Explore our findings through Python 3 with Pandas version 2.1.4 and visual representations using a Django Web Application.</p>
    </section>
</main>

<script></script>
</body>
</html>
