body {
    margin: 50px;
    padding: 50px;
    background-color: #c6c1ba;
    color: black;
}

.overall_container {
    max-width: 100%;
    margin: 10px auto;
    padding-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

section {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

section img {
    max-width: 100%;
    height: auto;
    border: 1px solid;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}
