{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/map/navigation.js' %}"></script>
</head>

<div class="sidebar close">
    <div class=" title_menu logo-details">
        <a href="#">
            <i class='home-content bx bx-menu'></i>
        </a>
        <span class="logo_name">Field Sense</span>
    </div>
    <ul class="nav-links">

        <li>
            <a href="{%  url 'map_view' %}">
                <i class='bx bx-map-alt'></i>
                <span class="link_name">Map</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url 'map_view' %}">Map</a></li>
            </ul>
        </li>
        <br>
        <li>
            <div class="iocn-link">
                <a href="{% url 'experiment' %}">
                    <i class='bx bx-plug'></i>
                    <span class="link_name">Experiment Methods</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Experiment Methods</a></li>
                <br>
                <li><a href="{% url 'experiment' %}/#sensors">Sensors</a></li>
                <li><a href="{% url 'experiment' %}/#iot">Iot Set up</a></li>
                <li><a href="{% url 'experiment' %}/#exp_images">Experiment Images</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="{% url 'live_analytics' %}">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="link_name">Live Analytics</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Live Analytics</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">Experiment Results</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Experiment Results</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a href="{% url 'administrator' %}">
                <i class='bx bx-user'></i>
                <span class="link_name">Admin</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Admin</a></li>
            </ul>
        </li>

        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <!--<img src="image/profile.jpg" alt="profileImg">-->
                </div>
                <div class="name-job">
                    <div class="profile_name">Major Project</div>
                    <div class="job">Field Sense</div>
                </div>
                <i class='bx bx-log-out'></i>
            </div>
        </li>
    </ul>
</div>

